[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/ImGui-Addons"]
	path = external/ImGui-Addons
	url = https://github.com/gallickgunner/ImGui-Addons.git
[submodule "external/Tonic"]
	path = external/Tonic
	url = https://github.com/TonicAudio/Tonic.git
[submodule "external/rtaudio"]
	path = external/rtaudio
	url = https://github.com/thestk/rtaudio.git
